# ==========================
# Entorno
# ==========================
.env
*.env
*.local
!.env.example
.envrc

# ==========================
# Node.js
# ==========================
**/node_modules/
npm-debug.log
pnpm-debug.log
yarn-error.log
*.log

# ==========================
# Builds / caches
# ==========================
build/
dist/
coverage/
.vite/
**/.vite/
*.tsbuildinfo

# ==========================
# Datos locales
# ==========================
docker-data/
mysql-data/
backend/.cache/puppeteer/
.vscode
AGENTS.md
docs
docker-compose.prod.yml
# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDEs / editores
# ==========================
.idea/
*.swp

