@tailwind base;
@tailwind components;
@tailwind utilities;

/* App defaults */
body {
  min-height: 100vh;
  background-color: #ffffff;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
